extends layout.pug
block content
  .wrapper
     include header.pug
     aside.main-sidebar
      // Inner sidebar
      .sidebar
        // user panel (Optional)
        // Sidebar Menu
        ul.sidebar-menu
          li
            a(href='/dashboard')
             i.fa.fa-list.o.text-red
             span Dashboard
          li.active
            a(href='/entries')
             i.fa.fa-paw.o.text-green
             span  Entries 
          // Optionally, you can add icons to the links
     .content-wrapper(style='min-height: 1126px;')
      // Content Header (Page header)
      section.content-header
        h1
          |  #{albumData[0].name}
          button(type="button" class='btn btn-primary addAlbum'  style="float:right;margin-top:-8px" )
            i.fa.fa-plus
      // Main content
      section.content
        .row
          table.episodesTable.table.table-bordered.table-hover
                  thead
                    tr
                      th Sn #
                      th Episode Name
                      th Action 
                  tbody
                     if(episodeData)
                       each item, index in episodeData
                        tr
                         td=index +1
                         td
                          a(href="/entries/albums/selectedAlbum/"+item.episode_pid)=item.name
                         td
                          a(href="#" class="episdeEditClass" id=index) Edit  
        .row
           .col-sm-6
             form.form-horizontal.addNewEpisodeForm(method="post", action="/entries/addEpisode" style="display:none")
                .form-group
                  label.col-sm-2.control-label(for='inputName') Episode 
                  .col-sm-10
                    input.form-control(type='text', name="program" required)
                .form-group
                  label.col-sm-2.control-label(for='inputName') Description 
                  .col-sm-10
                    input.form-control(type='text', name="description" )
                .form-group
                  .col-sm-offset-2.col-sm-10
                    button.btn.btn-danger(type='submit') Add
                    button.btn.btn-default.episodeAddFormClose(type='button' style="margin-left:8px;") Close
                    input(type="hidden" name="albumId" value=albumData[0].album_pid)
                    input(type="hidden" name="episodeId")
                    //input(type="hidden" name="channelId" value=ChNCat[0].channels_pid)

           .col-sm-6  

        .row
           .col-sm-6
             form.form-horizontal.editEpisodeForm(method="post", action="/entries/editEpisode" style="display:none")
                .form-group
                  label.col-sm-2.control-label(for='inputName') Episode 
                  .col-sm-10
                    input.form-control(type='text', name="program" required)
                .form-group
                  label.col-sm-2.control-label(for='inputName') Description 
                  .col-sm-10
                    input.form-control(type='text', name="description" )
                .form-group
                  .col-sm-offset-2.col-sm-10
                    button.btn.btn-danger(type='submit') Add
                    button.btn.btn-default.episodeAddFormClose(type='button' style="margin-left:8px;") Close
                    input(type="hidden" name="albumId" value=albumData[0].album_pid)
                    input(type="hidden" name="episodeId" )

           .col-sm-6               
     footer.main-footer
      .pull-right.hidden-xs
        b Version
        |  0.0.1
      strong
        | Copyright © 2016 
        a(href='http://visiongroupnepal.com') Vision Group Nepal
        | .
      |  All rights reserved.
  //script var langData = !{JSON.stringify(langData)};
  script var episodeData = !{JSON.stringify(episodeData)};
  script var albumData = !{JSON.stringify(albumData)};
  script(type="text/javascript", src='/javascripts/entries.js')
  link(rel="stylesheet" href="/admin-lte/plugins/datatables/dataTables.bootstrap.css")
  script(type="text/javascript", src="/admin-lte/plugins/datatables/jquery.dataTables.min.js")
  script(type="text/javascript", src="/admin-lte/plugins/datatables/dataTables.bootstrap.min.js")
