extends layout.pug
block content
  .wrapper
     include header.pug
     aside.main-sidebar
      // Inner sidebar
      .sidebar
        // user panel (Optional)
        // Sidebar Menu
        ul.sidebar-menu
          li
            a(href='/dashboard')
             i.fa.fa-list.o.text-red
             span Dashboard
          li.active
            a(href='/entries')
             i.fa.fa-paw.o.text-green
             span  Entries 
          // Optionally, you can add icons to the links
     .content-wrapper(style='min-height: 1126px;')
      // Content Header (Page header)
      section.content-header
        h1
          | #{ChNCat[0].channelName}  -> #{ChNCat[0].CategoryName}
          button(type="button" class='btn btn-primary addProgramToChannel'  style="float:right;margin-top:-8px" )
                           i.fa.fa-plus
      // Main content
      section.content
        .row
          table.programTable.table.table-bordered.table-hover
            thead
              tr
                th Sn #
                th Album Name
                th Image
                th Description
                th Action
            tbody 
               each item, index in albumData
                tr
                 td=index +1 +" - "+ item.album_pid
                 td
                  a(href="/entries/albums/"+item.album_pid)=item.name
                 td
                  img(src=item.imgUrl style="width:200px; height:100px;" )
                  td=item.description
                 td
                  a(href="#" class="albumEditClass" id=index) Edit 
        .row
           .col-sm-6
             form.form-horizontal.AddNewProgramForm(method="post", action="/entries/addProgram" style="display:none")
                .form-group
                  label.col-sm-2.control-label(for='inputName') Program 
                  .col-sm-10
                    input.form-control(type='text', name="program" required)
                .form-group
                  label.col-sm-2.control-label(for='inputName') Image 
                  .col-sm-10
                    input.form-control(type='text', name="img"   required)
                .form-group
                  label.col-sm-2.control-label(for='inputName') Description 
                  .col-sm-10
                    input.form-control(type='text', name="description"   required)
                .form-group
                  .col-sm-offset-2.col-sm-10
                    button.btn.btn-danger(type='submit') Add
                    button.btn.btn-default.addProgramFormClose(type='button' style="margin-left:8px;") Close
                    input(type="hidden" name="categoryId" value=ChNCat[0].categories_pid)
                    input(type="hidden" name="channelId" value=ChNCat[0].channels_pid)

           .col-sm-6
        .row
          .col-sm-6
             form.form-horizontal.editProgramForm(method="post", action="/entries/editProgram" style="display:none")
                .form-group
                  label.col-sm-2.control-label(for='inputName') Program 
                  .col-sm-10
                    input.form-control(type='text', name="program" required)
                .form-group
                  label.col-sm-2.control-label(for='inputName') Image 
                  .col-sm-10
                    input.form-control(type='text', name="img"   required)
                .form-group
                  label.col-sm-2.control-label(for='inputName') Description 
                  .col-sm-10
                    input.form-control(type='text', name="description"   required)
                .form-group
                  .col-sm-offset-2.col-sm-10
                    button.btn.btn-danger(type='submit') Edit
                    button.btn.btn-default.editProgramFormClose(type='button' style="margin-left:8px;") Close
                    input(type="hidden" name="categoryId" value=ChNCat[0].categories_pid)
                    input(type="hidden" name="channelId" value=ChNCat[0].channels_pid)
                    input(type="hidden" name="albumId" )
          .col-sm-6
                  
     footer.main-footer
      .pull-right.hidden-xs
        b Version
        |  0.0.1
      strong
        | Copyright © 2016 
        a(href='http://visiongroupnepal.com') Vision Group Nepal
        | .
      |  All rights reserved.
  //script var langData = !{JSON.stringify(langData)};
  //script var channelData = !{JSON.stringify(channelData)};
  script var albumData = !{JSON.stringify(albumData)};
  script(type="text/javascript", src='/javascripts/entries.js')
  link(rel="stylesheet" href="/admin-lte/plugins/datatables/dataTables.bootstrap.css")
  script(type="text/javascript", src="/admin-lte/plugins/datatables/jquery.dataTables.min.js")
  script(type="text/javascript", src="/admin-lte/plugins/datatables/dataTables.bootstrap.min.js")
