nav.navbar.navbar-static-top(role='navigation')
    // Navbar Right Menu
    #navbar-collapse.collapse.navbar-collapse
      ul.nav.navbar-nav
        each item in channelData
          li
            a(href='/channel/'+item.channels_pid)=item.name