extends layout.pug
block content
  .wrapper
     header.main-header
      a.logo(href='/')
        // LOGO
        | Dhunga Khani
      // Header Navbar: style can be found in header.less
      nav.navbar.navbar-static-top(role='navigation')
        // Navbar Right Menu
        a.sidebar-toggle(href='#', data-toggle='offcanvas', role='button')
          span.sr-only Toggle navigation
        .navbar-custom-menu
          ul.nav.navbar-nav
            // Tasks: style can be found in dropdown.less
            // User Account: style can be found in dropdown.less
            li.dropdown.user.user-menu
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                img.user-image(src='/images/img/avatar5.png', alt='User Image')
                span.hidden-xs #{user}
              ul.dropdown-menu
                // User image
                li.user-header
                  img.img-circle(src='/images/img/avatar5.png', alt='User Image')
                  p
                    | #{user}
                    small added on date
                // Menu Footer
                li.user-footer
                  //.pull-left
                  //  a.btn.btn-default.btn-flat(href='#') Profile
                  .pull-right
                    a.btn.btn-default.btn-flat(href='/logout') Sign out
     aside.main-sidebar
      // Inner sidebar
      .sidebar
        // user panel (Optional)
        // Sidebar Menu
        ul.sidebar-menu
          li
            a(href='/passGenerator')
             i.fa.fa-circle-o.text-red
             span Pass Generators
          li
            a(href='/manager')
             i.fa.fa-paw.o.text-green
             span  Managers
          //li
          //  a(href='/users')
          //   i.fa.fa-users.text-red
          //   span  Users
          li.active
            a(href='/dhuwani')
             i.fa.fa-bus.text-yellow
             span  Dhuwani
          // Optionally, you can add icons to the links
     .content-wrapper(style='min-height: 1126px;')
      // Content Header (Page header)
      section.content-header
        h1
          | Dhuwani
      // Main content
      section.content
        .row
          .col-sm-12
            table#dhuwaniTable.table.table-bordered.table-hover
              thead
                tr
                  th Sn #
                  th Pass Generator
                  th Manager
                  th Gadhi Number
                  th Receipt Number
                  th Status
                  //th Action
              tbody
                 each item, index in dhuwaniData
                  tr
                   td=index +1
                   td=item.PassGenerator
                   td=item.Manager
                   td=item.gadhiNumber
                   td=item.receiptNumber
                   - var status = item.dhuwaniStatus
                   if(status == 0)
                    td="IN"
                   else if (status == 1)
                    td="PROCESSING"
                   else if (status == 2)
                    td="OUT"

                   //td=item.dhuwaniStatus 
                   //td
                   // a.editEventTypeButton(href='#'  data-target="#editEventTypeModal" data-toggle="modal" onClick='assignValueToEditEventModal(#{index}); ' ) Edit 

     footer.main-footer
      .pull-right.hidden-xs
        b Version
        |  0.0.1
      strong
        | Copyright © 2016 
        a(href='http://visiongroupnepal.com') Vision Group Nepal
        | .
      |  All rights reserved.
  script var passData = !{JSON.stringify(dhuwaniData)};
  script(type="text/javascript", src='/javascripts/validate.js')
  script(type="text/javascript", src='/javascripts/login.js')
  link(rel="stylesheet" href="/admin-lte/plugins/datatables/dataTables.bootstrap.css")
  script(type="text/javascript", src="/admin-lte/plugins/datatables/jquery.dataTables.min.js")
  script(type="text/javascript", src="/admin-lte/plugins/datatables/dataTables.bootstrap.min.js")
  script.
    $(document).ready(function(){
      $('#dhuwaniTable').DataTable();
    });

