extends layout.pug
block content
  .wrapper
     include header.pug
     aside.main-sidebar
      // Inner sidebar
      .sidebar
        // user panel (Optional)
        // Sidebar Menu
        ul.sidebar-menu
          li
            a(href='/dashboard')
             i.fa.fa-list.o.text-red
             span Dashboard
          li.active
            a(href='/entries')
             i.fa.fa-paw.o.text-green
             span  Entries 
          // Optionally, you can add icons to the links
     .content-wrapper(style='min-height: 1126px;')
      // Content Header (Page header)
      section.content-header
        h1
          | Entries 
      // Main content
      section.content
        .row 
          .col-sm-6
            .box.box-default
              .box-header.with-border
                h3.box-title Languages
                .box-tools.pull-right
                  button.btn.btn-box-tool(data-widget='collapse')
                    i.fa.fa-minus
                // /.box-tools
              // /.box-header
              .box-body
                button.btn.btn-primary.btn-sm.addLanguage(type='button', data-toggle='modal', data-target='#langModal')
                  | Add
                br
                br
                table#dhuwaniTable.table.table-bordered.table-hover
                  thead
                    tr
                      th Sn #
                      th Language Name
                  tbody
                     each item, index in langData
                      tr
                       td=index +1
                       td=item.name  
              // Modal
              #langModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
                .modal-dialog(role='document')
                  .modal-content
                    .modal-header
                      button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                      h4#myModalLabel.modal-title Add Language
                    .modal-body
                      form.form-horizontal.languageAddUserForm(method="post", action="/entries/addLang")
                        .form-group
                          label.col-sm-2.control-label(for='inputName') Language
                          .col-sm-10
                            input#inputName.form-control(type='text', placeholder='nepali' name="langName" required)
                        .form-group
                          .col-sm-offset-2.col-sm-10
                            button.btn.btn-danger(type='submit') Submit
                    .modal-footer
                      button.btn.btn-default(type='button', data-dismiss='modal') Close 
              // /.box-body
            // /.box
          .col-sm-6
            .box.box-default
              .box-header.with-border
                h3.box-title Channels
                .box-tools.pull-right
                  button.btn.btn-box-tool(data-widget='collapse')
                    i.fa.fa-minus
                // /.box-tools
              // /.box-header
              .box-body
                button.btn.btn-primary.btn-sm.addChannel(type='button', data-toggle='modal', data-target='#channelModal')
                  | Add

                br
                br
                table#dhuwaniTable.table.table-bordered.table-hover
                  thead
                    tr
                      th Sn #
                      th Channel Name
                      th language
                  tbody
                     each item, index in channelData
                      tr
                       td=index +1
                       td=item.name
                       td=item.lng  
              // Modal
              #channelModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
                .modal-dialog(role='document')
                  .modal-content
                    .modal-header
                      button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                      h4#myModalLabel.modal-title Add Channels
                    .modal-body
                      form.form-horizontal.channelAddForm(method="post", action="/entries/addChannel")
                        .form-group
                          label.col-sm-2.control-label(for="lang") Language
                          .col-sm-10
                            select.form-control.languageSelection(name="lang" required)
                              each item in langData
                                option(value=item.language_pid ) #{item.name}
                        .form-group
                          label.col-sm-2.control-label(for='inputName') Channel
                          .col-sm-10
                            input.form-control(type='text', placeholder='Kantipur' name="channelName" required)
                        .form-group
                          label.col-sm-2.control-label(for='inputName') Image 
                          .col-sm-10
                            input.form-control(type='text',   name="imageUrl" required)
                        .form-group
                          .col-sm-offset-2.col-sm-10
                            button.btn.btn-danger(type='submit') Submit
                    .modal-footer
                      button.btn.btn-default(type='button', data-dismiss='modal') Close 
              // /.box-body
            // /.box
          .clearfix
          .col-sm-6
            .box.box-default
              .box-header.with-border
                h3.box-title Categories
                .box-tools.pull-right
                  button.btn.btn-box-tool(data-widget='collapse')
                    i.fa.fa-minus
                // /.box-tools
              // /.box-header
              .box-body
                button.btn.btn-primary.btn-sm.addCategory(type='button', data-toggle='modal', data-target='#categoryModal')
                  | Add
                br
                br
                table#dhuwaniTable.table.table-bordered.table-hover
                  thead
                    tr
                      th Sn #
                      th Category Name
                      th Channel
                  tbody
                     each item, index in categoryData
                      tr
                       td=index +1
                       td
                        a(href="/entries/channel/"+item.channels_pid+"/"+item.categories_pid)=item.name
                       td=item.channelName  
              #categoryModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
                .modal-dialog(role='document')
                  .modal-content
                    .modal-header
                      button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                      h4#myModalLabel.modal-title Add Category
                    .modal-body
                      form.form-horizontal.channelAddForm(method="post", action="/entries/addCategory")
                        .form-group
                          label.col-sm-2.control-label(for="lang") Channel
                          .col-sm-10
                            select.form-control.languageSelection(name="channel" required)
                              each item in channelData
                                option(value=item.channels_pid ) #{item.name}
                        .form-group
                          label.col-sm-2.control-label(for='inputName') Category
                          .col-sm-10
                            input.form-control(type='text', placeholder='Entertainment' name="catName" required)
                        .form-group
                          .col-sm-offset-2.col-sm-10
                            button.btn.btn-danger(type='submit') Submit
                    .modal-footer
                      button.btn.btn-default(type='button', data-dismiss='modal') Close 
              // /.box-body
            // /.box
          .col-sm-6
          .clearfix
             
     footer.main-footer
      .pull-right.hidden-xs
        b Version
        |  0.0.1
      strong
        | Copyright © 2016 
        a(href='http://visiongroupnepal.com') Vision Group Nepal
        | .
      |  All rights reserved.
  //script var langData = !{JSON.stringify(langData)};
  //script var channelData = !{JSON.stringify(channelData)};
  //script var categoryData = !{JSON.stringify(categoryData)};
  //script(type="text/javascript", src='/javascripts/entries.js')
  link(rel="stylesheet" href="/admin-lte/plugins/datatables/dataTables.bootstrap.css")
  script(type="text/javascript", src="/admin-lte/plugins/datatables/jquery.dataTables.min.js")
  script(type="text/javascript", src="/admin-lte/plugins/datatables/dataTables.bootstrap.min.js")
