extends layout.pug
block content   
	script var lngData = !{JSON.stringify(lngData)} 
	include mainHeader.pug
	.container-fluid(style='min-height: 1126px;')
		.row
			.col-sm-12
				h2 Recently Added
				hr
				each item, index in recenlyUpdateData
					.col-md-4.col-sm-4.col-xs-12
						
						.panel.panel-default
							//.panel-heading
							.info-box 
						
								
								.date-box(style="background-color:#349267") 
									a(href="/lang/"+item.language_pid style="color:white; font-size:1em;  font-weight: bold;   ")=item.lang
									br
									br
									a(href="/channel/"+item.channels_pid style="color:white; font-size:0.8em;  font-weight: bold;   ")=item.channel 
								.date-box(style="float:right;") 
									label=item.epiName
								.info-box-content
									span.info-box-number(style="overflow: hidden;")
										a(href="/album/"+item.album_fid)=item.name
									span.info-box-text(style="overflow: hidden;")
										a(href="/viewEpisodes/"+item.episode_pid)=item.epiName 

							a(href="/viewEpisodes/"+item.episode_pid)
								//.panel-body(style="  min-width: 100%;  max-height:120px;     margin-top: -15px; ")
								.panel-body
									-if(item.img)
										img.imgClass(src=item.img style="width:300px")
									-else
										img.imgClass(src=item.imgUrl  )
					-if((index+1) % 3 == 0)
						//-console.log("modulus ="+index)
						.clearfix
						br
						br
						
				br
			.clearfix  
												
			//.col-sm-3
				h2 Popular 
				hr
				.col-md-3.col-sm-3.col-xs-12
					.info-box 
						span.info-box-icon.bg-red
							i.fa.fa-star-o
						.info-box-content
							span.info-box-text Likes
							span.info-box-number 93,139
			//

		br
		br
		include footer.pug
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-41477390-3', 'auto');
			ga('send', 'pageview');
