footer.footer
	.navbar.navbar-default.navbar-fixed-bottom
		.row
			.container-fluid.footer-center(align='center')
				.col-sm-4
					
				.col-sm-4
					p(style='margin-top : 10px; margin-left:auto; margin-right:auto; ')
					| Nepali Video Book @ 2017
					
				.col-sm-4
					ul.list-inline.social-buttons(style="padding-top: 5px;padding-bottom: 5px;") 
						li
							a(href='https://www.facebook.com/nepalivideobook/?fref=ts', target='ext')
								i.fa.fa-facebook.o.text-red
						li
							a(href="mailto:nepalivideobook@gmail.com")
								i.fa.fa-envelope-o.o.text-red
						li
							a(href='/termsNconditions', target='ext')
								i.fa.fa-eye.o.text-red
        

script.
	$(document).ready(function() { 
			(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src ="//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
			
			
			 
			
		   }); 
					 
			