header.main-header
      a.logo(href='/login')
        // LOGO
        | Nepali Video Book
      // Header Navbar: style can be found in header.less
      nav.navbar.navbar-static-top(role='navigation')
        // Navbar Right Menu
        a.sidebar-toggle(href='#', data-toggle='offcanvas', role='button')
          span.sr-only Toggle navigation
        .navbar-custom-menu
          ul.nav.navbar-nav
            // Tasks: style can be found in dropdown.less
            // User Account: style can be found in dropdown.less
            li.dropdown.user.user-menu
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                img.user-image(src='/images/img/avatar5.png', alt='User Image')
                span.hidden-xs #{user}
              ul.dropdown-menu
                // User image
                li.user-header
                  img.img-circle(src='/images/img/avatar5.png', alt='User Image')
                  p
                    | #{user}
                    small added on date
                // Menu Footer
                li.user-footer
                  //.pull-left
                  //  a.btn.btn-default.btn-flat(href='#') Profile
                  .pull-right
                    a.btn.btn-default.btn-flat(href='/logout') Sign out