extends layout.pug

block content
 .container
  .top-content
      .inner-bg
        .container
          .row
            .col-sm-8.col-sm-offset-2.text
              h1
                strong Dhunga Khani
          .row
            .col-sm-6.col-sm-offset-3.form-box
              .form-top
                .form-top-left
                  h3 Enter username and password :
                .form-top-right
                  i.fa.fa-lock
              .form-bottom
                form.login-form(role='form', method='post')
                  .form-group
                    label.sr-only(for='form-username') Username
                    input#form-username.form-username.form-control(type='text', name='username', placeholder='Username...', required)
                  .form-group
                    label.sr-only(for='form-password') Password
                    input#form-password.form-password.form-control(type='password', name='password', placeholder='Password...', required)
                  button.btn(type='submit') Sign in!
                  br
                  .form-group
                    .alert.loginResult.alert-danger(style="display:none")
                      strong Failed!
                      |  Either user name of password is incorrect. Try Again !!

                  .form-group
                    .alert.loginResultSuccess.alert-success(style="display:none")
                      strong Success!
                      |  Login Successful !!
 link( rel="stylesheet" href="/stylesheets/form-element.css")
 link( rel="stylesheet" href="/stylesheets/login.css")
 script(type="text/javascript", src='/javascripts/login.js')
