doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title= title
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    meta(name="propeller" content="ab57f4a5d187b03b63cbb182c5199176")
    link(href='/admin-lte/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css') 
    link(href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css") 
    //link( rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css")
    link( rel="stylesheet" href="/admin-lte/dist/css/AdminLTE.min.css")
    link( rel="stylesheet" href="/admin-lte/dist/css/skins/_all-skins.min.css")
    //script(type="text/javascript", src='/javascripts/DhungaKhaniNodejs.bundle.js')
    script(type="text/javascript", src='/admin-lte/plugins/jQuery/jquery-2.2.3.min.js')
    script(type="text/javascript", src='/admin-lte/bootstrap/js/bootstrap.min.js')
    script(type="text/javascript", src='/admin-lte/plugins/fastclick/fastclick.js')
    script(type="text/javascript", src='/admin-lte/dist/js/app.min.js')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body.skin-blue.sidebar-mini
    block content

