extends layout.pug
block content
  .wrapper
     include header.pug
     aside.main-sidebar
      // Inner sidebar
      .sidebar
        // user panel (Optional)
        // Sidebar Menu
        ul.sidebar-menu
          li
            a(href='/dashboard')
             i.fa.fa-list.o.text-red
             span Dashboard
          li.active
            a(href='/entries')
             i.fa.fa-paw.o.text-green
             span  Entries 
          // Optionally, you can add icons to the links
     .content-wrapper(style='min-height: 1126px;')
      // Content Header (Page header)
      //ol.breadcrumb
      //    li
      //      a(href='#') Home
      //    li
      //      a(href='#') Library
      //    li.active Data
      section.content-header
        h1
          |  #{episodeData[0].name}
          button(type="button" class='btn btn-primary addlinks'  style="float:right;margin-top:-8px" )
                           i.fa.fa-plus
      // Main content
      section.content
        .row
          table.linksTable.table.table-bordered.table-hover
                  thead
                    tr
                      th Sn # 
                      th Link Url
                      th Action
                  tbody
                     if(episodeData)
                       each item, index in linkData
                        tr
                         td=index +1
                         td=item.url
                         td
                          a(href="#" class="linkEditClass" id=index ) Edit
        .row
          .col-sm-6  
            form.form-horizontal.linksAddForm(method="post", action="/entries/addlinks" style="display:none")
              .form-group
                label.col-sm-2.control-label(for='inputName') Position
                .col-sm-10
                  input.form-control(type='number', name="position" required)
              .form-group
                label.col-sm-2.control-label(for='inputName') Url 
                .col-sm-10
                  input.form-control(type='text', name="linksUrl" pattern="^(http|https|ftp):\/\/.*", title="url is malformed" required)
              .form-group
                .col-sm-offset-2.col-sm-10
                  button.btn.btn-danger(type='submit') Add
                  button.btn.btn-default.linksAddFormClose(type='button' style="margin-left:8px;") Close
                  input(type="hidden" name="episodeId" value=episodeData[0].episode_pid)
          .clearfix
          .col-sm-6
            form.form-horizontal.linksEditForm(method="post", action="/entries/editlinks" style="display:none")
              .form-group
                label.col-sm-2.control-label(for='inputName') Position
                .col-sm-10
                  input.form-control(type='number', name="editPosition" required)
              .form-group
                label.col-sm-2.control-label(for='inputName') Url 
                .col-sm-10
                  input.form-control(type='text', name="editLinksUrl" pattern="^(http|https|ftp):\/\/.*", title="url is malformed" required)
              .form-group
                .col-sm-offset-2.col-sm-10
                  button.btn.btn-danger(type='submit') Edit
                  button.btn.btn-default.linksEditFormClose(type='button' style="margin-left:8px;") Close
                  input(type="hidden" name="linkId"  )
                  input(type="hidden" name="episodeId" value=episodeData[0].episode_pid)

     footer.main-footer
      .pull-right.hidden-xs
        b Version
        |  0.0.1
      strong
        | Copyright © 2016 
        a(href='http://visiongroupnepal.com') Vision Group Nepal
        | .
      |  All rights reserved.
  //script var langData = !{JSON.stringify(langData)};
  //script var channelData = !{JSON.stringify(channelData)};
  script var linkData = !{JSON.stringify(linkData)};
  script(type="text/javascript", src='/javascripts/entries.js')
  link(rel="stylesheet" href="/admin-lte/plugins/datatables/dataTables.bootstrap.css")
  script(type="text/javascript", src="/admin-lte/plugins/datatables/jquery.dataTables.min.js")
  script(type="text/javascript", src="/admin-lte/plugins/datatables/dataTables.bootstrap.min.js")
