extends layout.pug
block content   
	script var lngData = !{JSON.stringify(lngData)} 
	include mainHeader.pug
	script var channelData = !{JSON.stringify(channelData)} 
	include channels.pug
	.container-fluid(style='min-height: 1126px;')
		.row
			.col-sm-12
				h2 Recently Added
				hr
				each item, index in recenlyUpdateData
					.col-md-4.col-sm-4.col-xs-12
						
						.panel.panel-default
							//.panel-heading
							.info-box 
						
								.date-box 
									label=item.createdAt.toUTCString().slice(0,16) 
								
								.info-box-content
									span.info-box-number(style="overflow: hidden;")
										a(href="/album/"+item.album_fid)=item.albumName
									span.info-box-text
										a(href="/viewEpisodes/"+item.episode_pid)=item.epiName 

							a(href="/viewEpisodes/"+item.episode_pid)
								//.panel-body(style="  min-width: 100%;  max-height:120px;     margin-top: -15px; ")
								.panel-body
									img.imgClass(src=item.imgUrl )
					-if((index+1) % 3 == 0)
						//-console.log("modulus ="+index)
						.clearfix
						
						
			//.col-sm-3
				h2 Popular 
				hr
				.col-md-3.col-sm-3.col-xs-12
					.info-box 
						span.info-box-icon.bg-red
							i.fa.fa-star-o
						.info-box-content
							span.info-box-text Likes
							span.info-box-number 93,139
			//

		br
		br
		include footer.pug
