header.main-header
  a.logo(href='/')
    // LOGO
    | Nepali Video Book
  // Header Navbar: style can be found in header.less
  nav.navbar.navbar-static-top(role='navigation')
    // Navbar Right Menu
    #navbar-collapse.collapse.navbar-collapse
      ul.nav.navbar-nav
        each item in lngData
          li
            a(href='/lang/'+item.language_pid)=item.name