extends layout.pug
block content
  .wrapper
     header.main-header
      a.logo(href='/')
        // LOGO
        | Dhunga Khani
      // Header Navbar: style can be found in header.less
      nav.navbar.navbar-static-top(role='navigation')
        // Navbar Right Menu
        a.sidebar-toggle(href='#', data-toggle='offcanvas', role='button')
          span.sr-only Toggle navigation
        .navbar-custom-menu
          ul.nav.navbar-nav
            // Tasks: style can be found in dropdown.less
            // User Account: style can be found in dropdown.less
            li.dropdown.user.user-menu
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                img.user-image(src='/images/img/avatar5.png', alt='User Image')
                span.hidden-xs #{user}
              ul.dropdown-menu
                // User image
                li.user-header
                  img.img-circle(src='/images/img/avatar5.png', alt='User Image')
                  p
                    | #{user}
                    small added on date
                // Menu Footer
                li.user-footer
                  //.pull-left
                  //  a.btn.btn-default.btn-flat(href='#') Profile
                  .pull-right
                    a.btn.btn-default.btn-flat(href='/logout') Sign out
     aside.main-sidebar
      // Inner sidebar
      .sidebar
        // user panel (Optional)
        // Sidebar Menu
        ul.sidebar-menu
          li.active
            a(href='/passGenerator')
             i.fa.fa-circle-o.text-red
             span Pass Generators
          li
            a(href='/manager')
             i.fa.fa-paw.o.text-green
             span  Managers
          //li
          //  a(href='/users')
          //   i.fa.fa-users.text-red
          //   span  Users
          li
            a(href='/dhuwani')
             i.fa.fa-bus.text-yellow
             span  Dhuwani
          // Optionally, you can add icons to the links
     .content-wrapper(style='min-height: 1126px;')
      // Content Header (Page header)
      section.content-header
        h1
          | Pass Generator
      // Main content
      section.content
        .row
          .col-sm-12
            .nav-tabs-custom
              ul.nav.nav-tabs
                li.active
                  a(href='#timeline', data-toggle='tab') Generators
                li
                  a(href='#settings', data-toggle='tab') Add New
              .tab-content
                #timeline.active.tab-pane
                  // The timeline
                  - var i = 0
                  ul.timeline.timeline-inverse
                    // timeline time label
                    while i < passData.length
                      
                      li.time-label
                        span.bg-red #{passData[i].lastUpdate.toISOString().slice(0,10)}
                      // /.timeline-label
                      // timeline timeline-item
                      li
                        i.fa.fa-user.bg-aqua
                        .timeline-item
                          span.time
                            a(href='#' class="passGenEdit" id=i)
                              i.fa.fa-edit.text-red
                          h3.timeline-header.no-border
                            a(href='#') #{passData[i].firstName} #{passData[i].lastName}
                            |  registered with mobile number 
                            strong(style="color:green") #{passData[i].mobileNumber}
                      - i++

                    // END timeline item
                    // timeline item
                     
                // /.tab-pane
                #settings.tab-pane
                  form.form-horizontal.passGeneratorAddUserForm
                    .form-group
                      label.col-sm-2.control-label(for='inputName') First Name
                      .col-sm-10
                        input#inputName.form-control(type='text', placeholder='Binit' name="passFname" required)
                    .form-group
                      label.col-sm-2.control-label(for='inputEmail') Last Name
                      .col-sm-10
                        input#inputEmail.form-control(type='text', placeholder='Shrestha'  name="passLname" required)
                    .form-group
                      label.col-sm-2.control-label(for='inputName') Mobile Number
                      .col-sm-10
                        input#inputName.form-control(type='text', placeholder='9803035702'  name="passMobile" pattern="^[0-9]{10,13}" required title="only number and minimum 10 characters" minlength="10")
                    .form-group
                      .col-sm-offset-2.col-sm-10
                        button.btn.btn-danger(type='submit') Submit
     .passGenEditModal.modal.fade(tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4.modal-title Confirm Withdrawal
          .modal-body
            form.form-horizontal.passGeneratorModalForm  
                .form-group
                  label.col-lg-3.control-label(for='passGeneratorModalFormFname') First Name
                  .col-lg-9
                    input#passGeneratorModalFormFname.form-control(type='text', name="passGenEditFname"     readonly  )
                .form-group
                  label.col-lg-3.control-label(for='passGeneratorModalFormLname') Last Name
                  .col-lg-9
                    input#passGeneratorModalFormLname.form-control(type='text', name="passGenEditLname"   readonly  )
                .form-group
                  label.col-lg-3.control-label(for='passGeneratorModalFormMobile') Mobile Number
                  .col-lg-9
                    input#passGeneratorModalFormMobile.form-control(type='text', name="passGenEditMobile" ,  pattern="^[0-9]{10,13}"  title="only number and minimum 10 characters" minlength="10"  required  )
                .modal-footer
                 button.btn.btn-default(type='button', data-dismiss='modal') Close
                 button.btn.btn-primary.confirmButton(type='submit') Confirm
                 input(type="hidden" name="passGeneratorPid") 


     footer.main-footer
      .pull-right.hidden-xs
        b Version
        |  0.0.1
      strong
        | Copyright © 2016 
        a(href='http://visiongroupnepal.com') Vision Group Nepal
        | .
      |  All rights reserved.
  script var passData = !{JSON.stringify(passData)};
  script(type="text/javascript", src='/javascripts/validate.js')
  script(type="text/javascript", src='/javascripts/login.js')
