extends layout.pug
block content   
	script var lngData = !{JSON.stringify(lngData)} 
	include mainHeader.pug
	.container-fluid.fcontent(style='min-height: 1126px;')
		.col-sm-12 
			.col-sm-3
			.col-sm-6
				.myPlayerDiv
					-if(epData.length > 1)
						h2.epTitle Part 1
					-else 
						br
						if(epData[0])
							h2.epTitle #{epData[0].name}
						br
					-if(epData.length >0)
	
						if(epData[0].url.indexOf('youtube')>-1)
							h2 
								a(href=epData[0].url target="ext") Youtube
							- var youtubeUrl =  epData[0].url;
							- var re = /(\?v=*.*)/; 
							- var urlTemp = re.exec(youtubeUrl) 
							- var url =urlTemp[0].toString().replace('?v=','')
							iframe#existing-iframe-example(width='640', height='360', src='https://www.youtube.com/embed/'+url+'/?enablejsapi=1', frameborder='0', style='border: solid 4px #37474F')
						else
							
							-if(epData[0].url.indexOf('.flv')>-1)
								#player
								video#really-cool-video.video-js.vjs-default-skin(controls='', preload='auto', width='640', height='264',   data-setup='{}')
									source(src=epData[0].url, type='video/x-flv'  )
							-else if(epData[0].url.indexOf('.html')>-1 || epData[0].url.indexOf('.php')>-1 )
								iframe#existing-iframe-example(width='640', height='360', src=epData[0].url style="border: none;",scrolling="yes" frameborder="0" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" )
							
							-else if(epData[0].url.indexOf('cdn.video.playwire.com')>-1 || epData[0].url.indexOf('.m3u8')>-1)
								#player
							-else
								iframe#existing-iframe-example(width='640', height='360', src=epData[0].url style="border: none;",scrolling="yes" frameborder="0" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" )
							//	video.myPlayer(width='600px', controls='') 
							//		source(src=epData[0].url )
									
						input.playerIndex(type="hidden" name="myIndex" value="0")
					-else
						h2 No Video Found
					br
	
					#timeline
						- var i = 0
						ul(style="text-align: left")
							if(epData.length == 1)
								li  
										h3.no-border
											if(epData[i].url.indexOf('youtube')>-1)
												a(href=epData[0].url target="ext") Youtube
											else if(epData[i].url.indexOf('.html')>-1 || epData[i].url.indexOf('.php')>-1 )
												a(href='#' class="linkClicked" id=i) Live
											
											else
												a(href='#' class="linkClicked" id=i) Single Part
							else 
								while i < epData.length
	
									li  
											h3.no-border
												if(epData[i].url.indexOf('youtube')>-1)
													a(href=epData[0].url target="ext") Youtube #{i+1}
												else if(  epData[i].url.indexOf('php')>-1 )
													a(href='#' class="linkClicked" id=i) Live
												else if(epData[i].url.indexOf('html')>-1)
													a(href='#' class="linkClicked" id=i) Part #{i+1}
												else 
													a(href='#' class="linkClicked" id=i) Part #{i+1}
									- i++
			.col-sm-3
		.row

								
					
					
		//.col-sm-3
			h2 Popular 
			hr
			.col-md-3.col-sm-3.col-xs-12
				.info-box 
					span.info-box-icon.bg-red
						i.fa.fa-star-o
					.info-box-content
						span.info-box-text Likes
						span.info-box-number 93,139 
		//
	include footer.pug
	script var epData = !{JSON.stringify(epData)};
	
	//script(type="text/javascript", src='/javascripts/nepalivideobook.bundle.js')
	//script(data-cfasync="false" src='//go.onclasrv.com/apu.php?zoneid=783062') 
	//script(data-cfasync="false" src="//d1gp9nlx229wzz.cloudfront.net/?lnpgd=612327")
	//script(data-cfasync="false" src="//d1fttzrngno3h1.cloudfront.net/?zttfd=617537")
	link(href='https://cdnjs.cloudflare.com/ajax/libs/video.js/5.10.2/alt/video-js-cdn.css', rel='stylesheet')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/video.js/5.10.2/video.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/videojs-contrib-hls/3.0.2/videojs-contrib-hls.js')
	script(src="https://cdn.jsdelivr.net/clappr/latest/clappr.min.js")
	//script(src="/javascripts//clappr-iframe.js")
	//script(type="text/javascript", src='http://cdn.jsdelivr.net/clappr.level-selector/0.1.0/level-selector.min.js')
	script(type="text/javascript", src='/javascripts/player.js')

	script.
	//	section=1000185506;timer=0;popTimes=3;channel=10;
	//script(src='http://js.srcsmrtgs.com/js/interstitial_layer.js')
	script.
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-41477390-3', 'auto');
		ga('send', 'pageview');
		
	
