extends layout.pug
block content
  .wrapper
     header.main-header
      a.logo(href='/')
        // LOGO
        | Dhunga Khani
      // Header Navbar: style can be found in header.less
      nav.navbar.navbar-static-top(role='navigation')
        // Navbar Right Menu
        a.sidebar-toggle(href='#', data-toggle='offcanvas', role='button')
          span.sr-only Toggle navigation
        .navbar-custom-menu
          ul.nav.navbar-nav
            // Tasks: style can be found in dropdown.less
            // User Account: style can be found in dropdown.less
            li.dropdown.user.user-menu
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                img.user-image(src='/images/img/avatar5.png', alt='User Image')
                span.hidden-xs #{user}
              ul.dropdown-menu
                // User image
                li.user-header
                  img.img-circle(src='/images/img/avatar5.png', alt='User Image')
                  p
                    | #{user}
                    small added on date
                // Menu Footer
                li.user-footer
                  //.pull-left
                  //  a.btn.btn-default.btn-flat(href='#') Profile
                  .pull-right
                    a.btn.btn-default.btn-flat(href='/logout') Sign out
     aside.main-sidebar
      // Inner sidebar
      .sidebar
        // user panel (Optional)
        // Sidebar Menu
        ul.sidebar-menu
          li
            a(href='/passGenerator')
             i.fa.fa-circle-o.text-red
             span Pass Generators
          li
            a(href='/manager')
             i.fa.fa-paw.o.text-green
             span  Managers
          li.active
            a(href='/users')
             i.fa.fa-users.text-red
             span  Users
          li
            a(href='/dhuwani')
             i.fa.fa-bus.text-yellow
             span  Dhuwani
          // Optionally, you can add icons to the links
     .content-wrapper(style='min-height: 1126px;')
      // Content Header (Page header)
      section.content-header
        h1
          | Web Users
      // Main content
      section.content
        .row
          .col-sm-12
            .nav-tabs-custom
              ul.nav.nav-tabs
                li.active
                  a(href='#timeline', data-toggle='tab') Generators
                li
                  a(href='#settings', data-toggle='tab') Add New
              .tab-content
                #timeline.active.tab-pane
                  // The timeline
                  - var i = 0
                  ul.timeline.timeline-inverse
                    // timeline time label
                    while i < 10
                      - i++
                      li.time-label
                        span.bg-red
                          | 10 Feb. 2014
                      // /.timeline-label
                      // timeline timeline-item
                      li
                        i.fa.fa-user.bg-aqua
                        .timeline-item
                          span.time
                            i.fa.fa-edit.text-red
                          h3.timeline-header.no-border
                            a(href='#') Sarah Young
                            |  accepted your friend request

                    // END timeline item
                    // timeline item
                     
                // /.tab-pane
                #settings.tab-pane
                  form.form-horizontal
                    .form-group
                      label.col-sm-2.control-label(for='inputName') First Name
                      .col-sm-10
                        input#inputName.form-control(type='text', placeholder='Binit' required)
                    .form-group
                      label.col-sm-2.control-label(for='inputEmail') Last Name
                      .col-sm-10
                        input#inputEmail.form-control(type='text', placeholder='Shrestha' required)
                    .form-group
                      label.col-sm-2.control-label(for='inputName') Mobile Number
                      .col-sm-10
                        input#inputName.form-control(type='text', placeholder='9803035702'   pattern="^[0-9]{10,13}" required title="only number and minimum 10 characters")
                    .form-group
                      .col-sm-offset-2.col-sm-10
                        button.btn.btn-danger(type='submit') Submit
     footer.main-footer
      .pull-right.hidden-xs
        b Version
        |  0.0.1
      strong
        | Copyright © 2016 
        a(href='http://visiongroupnepal.com') Vision Group Nepal
        | .
      |  All rights reserved.
