 .date-box {
    padding: 8px;
    display: block;
    float: left; 
    width: 90px;
    height: 90px;
    text-align: center;
    background-color: #044c80; 
    color:white;
    font-size: 1em;
    padding: 10px;
}
.myPlayerDiv{

    text-align: center;
}

.fcontent{
    position: absolute;
    top: 30px;
    bottom: 60px;
    width: 100%;
    overflow: auto;
} 

.footer {
    position: absolute;
    bottom: 0;
    width: 100%; 
    overflow: auto;
     text-align: center; 
    background-color: #3c8dbc;
    color:white;
}
.footer-center {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #3c8dbc;
}
.footer ul.social-buttons{margin-bottom:0}ul.social-buttons li a{display:block;background-color:#222;height:40px;width:40px;border-radius:100%;font-size:20px;line-height:40px;color:#fff;outline:0;-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s}
ul.social-buttons li a:hover,ul.social-buttons li a:focus,ul.social-buttons li a:active{background-color:#2fde8f}.btn:focus,.btn:active,.btn.active,.btn:active:focus{outline:0}


@media  screen 
and (min-width : 768px) 
and (max-width : 1024px)  {
   #really-cool-video{
      margin-left: 0%;
   }
   
   .imgClass{
      width:200px;
      max-height: 100px;
   }
}
@media screen and (max-width: 699px) and (min-width: 200px)  {
  .imgClass{
      width:230px;
      max-height: 150px;
   }
}
@media (min-width: 1024px) {
  #really-cool-video{
      /*margin-left: 20%;*/
   }
   .imgClass{
      max-width:350px;
      max-height: 200px;
   }
}

 